<div class="conteudo">
    <div class="menu">
        <h3>MENU</h3>
        <center>
            <a href="#/app/exames">
                <img src="../img/icones/women.svg">
                <label>Exames Próximos</label>
            </a>
            <a href="#/app/autoexame">
                <img src="../img/icones/venus-1.svg">
                <label>Auto Exame</label>
            </a>
            <a href="#/app/agendar">
                <img src="../img/icones/calendar-1.svg">
                <label>Angendar Exames</label>
            </a>
            <a href="#/app/historico">
                <img src="../img/icones/book.svg">
                <label>Histórico Exame</label>
            </a>
            <a href="#/app/duvida">
                <img src="../img/icones/speech-bubble.svg">
                <label>Alguma Dúvida?</label>
            </a>
        </center>
    </div>
    <div ui-view>

    </div>
</div>
