<div class="header">
    <h1>Prevenção</h1>
</div>
<div class="home">
    <p>
        A prevenção do câncer de mama não é totalmente possível em função da multiplicidade de fatores relacionados ao surgimento da doença e ao fato de vários deles não serem modificáveis. De modo geral, a prevenção baseia-se no controle dos fatores de risco e no estímulo aos fatores protetores, especificamente aqueles considerados  modificáveis.
    </p>
    <p>     
        Estima-se que por meio da alimentação, nutrição e atividade física é possível reduzir em até 28% o risco de a mulher desenvolver câncer de mama. Controlar o peso corporal e evitar a obesidade, por meio da alimentação saudável e da prática regular de exercícios físicos, e evitar o consumo de bebidas alcoólicas são recomendações básicas para prevenir o câncer de mama. A amamentação também é considerada um fator protetor.
    </p>
    <p>
        A terapia de reposição hormonal (TRH), quando estritamente indicada, deve ser feita sob rigoroso controle médico e pelo mínimo de tempo necessário. 
    </p>
</div>